.card {
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.15);
  background-color: $white;
  padding: 32px 45px;
  max-width: 1129px;
}

.label {
  color: $made-color-gray-05;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
}

.title {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

.sub-title {
  text-overflow: ellipsis;
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
}

.description {
  @include inputStyles;
}

input,
input::placeholder {
  @include inputStyles;
}

input {
  color: $black;
  font-weight: 600;
  &.large-input,
  &.large-input::placeholder {
    width: 226px;
  }
  &.small-input,
  &.small-input::placeholder {
    width: 125px;
  }
}

.btn {
  background-color: $orange;
  color: $white;
  padding: 0 32px;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  height: 40px;
  &:hover {
    opacity: 0.7;
    transition: 0.3s;
  }
  &:disabled {
    background-color: $disabled-button;
    opacity: 50%;
    cursor: not-allowed;
  }
}

.error {
  position: absolute;
  color: $error-color;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
}

.separator {
  height: 1px;
  background-color: $separator-line;
}
