$white: #fff;
$black: #000;
$made-black: #0a0a0a;
$medium-gray: #f8f8f8;
$made-color-gray-05: #555250;
$made-color-gray-035: #96918b;
$orange: #fd4a4a;
$disabled-button: #b1ada6;
$error-color: #f64d42;
$separator-line: #ebebeb;
